<!DOCTYPE html>
<html>
<head>
    <title>Registrar Descuento</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Descuentos App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'discount_list' %}">Descuentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'discount_usage_list' %}">Usos de Descuentos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h1>Registrar Descuento</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
    <a href="{% url 'home' %}">Volver al inicio</a>
</body>
</html>
